.slide-container {
  width: 600px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border: 1px solid #e3e3e3;

  .slide-page {
    display: absolute;
    top: 0;
    right: 0;
  }

  .slide {
    width: 90%;
    padding: 0 13px;
    margin: 0 auto;

    .description {
      width: 66%;
      display: inline-block;
    }

    .image {
      width: 33%;
    }

  }

  .control {
    .control-left {
      position: absolute;
      top: 125px;
      left: -15px;
    }
    .control-right {
      position: absolute;
      top: 125px;
      right: -15px;
    }
    .control-sort{
      position: absolute;
      top: 10px;
      right: 20px
    }
  }
}

.btn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  cursor: pointer;

  &.sort {
    background-color: #26a69a;
    font-size: 0.6em;
    padding: 0rem 1rem;
    height: 27px;
    line-height: 28px
  }

  &.side {
    background-color: #26a69a;
    font-size: 2em;
    padding: 1rem 1rem;
  }
}